.amraaa{
    margin-top: 120px;
    padding: 0;
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../main-box.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
}
.reponse{
    width: 150px;
    margin: 10px;
    font-size: 16px;

}
#score{
    width: 40px;
    height: 40px;
    background-color: green;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0;
}
